@model IEnumerable<WebPihare.Entities.Visitregistration>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commisioner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commisioner.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentCode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VisitRegistrationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VisitRegistrationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VisitRegistrationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="demo-container">
    <div id="gridContainer"></div>
</div>

<script>
    $.ajax({
        url: '@Url.Action("LoadGrid", "Visitregistrations")',
        type: "GET"
    }).done(function (response) {
        console.log(response)
        var datasource = JSON.parse(response);
        console.log(datasource)
        $(function(){
            $("#gridContainer").dxDataGrid({
                dataSource: datasource,
                paging: {
            pageSize: 10
        },
        pager: {
            showPageSizeSelector: true,
            allowedPageSizes: [10, 25, 50, 100]
        },
        remoteOperations: false,
        searchPanel: {
            visible: true,
            highlightCaseSensitive: true
        },
        groupPanel: { visible: true },
        grouping: {
            autoExpandAll: false
        },
        allowColumnReordering: true,
        rowAlternationEnabled: true,
                showBorders: true,
        columnChooser: {
            enabled: true,
            mode: "select"
                },
        "export": {
            enabled: true,
            fileName: "Employees",
            allowExportSelectedData: true
        },
            });
        });

    });
</script>
