@model WebPihare.Entities.Role

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>ROL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoleValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoleId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
