@model WebPihare.Entities.Department

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quiere eliminar?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberFloor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberFloor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberBedrooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberBedrooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeparmentPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeparmentPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentState.DepartmentStateDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentType.DepartmentTypeDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentId" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
